body {
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
color: #777;
background: #777;
width: 960px;
font-size: 18px;
}

.set_one {
    background: #ebebeb;
    color: black;
    position: relative;
    margin: 10px;
}

header {

}

nav {

}

aside {
width: 425px;
float: left;
}

article {
width: 495px;
}

p {
width: 495px;
}

footer {
clear: both;
}

section {
width: 495px;
float: left;
}
