body {
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
color: #777;
background: #777;
width: 960px;
font-size: 18px;
}

header {
    height: 100px;

}

.set_one {
    background: #ebebeb;
    color: black;
    position: relative;
    margin: 10px;
}

header {
border: 10px;
margin: 10px;

}

nav {
    height: 100px;
}

aside {
width: 425px;
float: left;
height:230px;
}

article {
width: 495px;
}

p {
width: 495px;
}

footer {
clear: both;
height: 100px;

}

section {
width: 495px;
float: left;
height: 230px;
}
